<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>NZB MegasearcH</title>
		<link rel="stylesheet" type="text/css" href="static/style.css" />
		<script src="static/overlay.js"></script>
	</head>
	<body>
		<div id="container">
		
		<div class="message">Legal</div>
 
		<!-- Start of StatCounter Code for Default Guide -->
		<script type="text/javascript">
		var sc_project=8707188; 
		var sc_invisible=1; 
		var sc_security="f3bafd7f"; 
		var scJsHost = (("https:" == document.location.protocol) ?
		"https://secure." : "http://www.");
		document.write("<sc"+"ript type='text/javascript' src='" +
		scJsHost+
		"statcounter.com/counter/counter.js'></"+"script>");
		</script>
		<noscript><div class="statcounter"><a title="web analytics"
		href="http://statcounter.com/" target="_blank"><img
		class="statcounter"
		src="http://c.statcounter.com/8707188/0/f3bafd7f/1/"
		alt="web analytics"></a></div></noscript>
		<!-- End of StatCounter Code for Default Guide -->

	</body>
</html>
