<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>NZB MegasearcH</title>
		<link rel="stylesheet" type="text/css" href="static/style.css" />
		<script src="static/overlay.js"></script>
	</head>
	<body>
		<div id="container">
			<div class="alert-info">
			We crawl popular NZB indices<br>
			This is a beta. Have patience. <br>
			<a href='https://nzbx.co/' style="color:#ffffff;">* Donate to nzbx.co*</a> 
			</div>
			<div id="loader" class="titlemain" style="visibility:hidden;"> <img src="static/loadingicon.gif" width="32" height="32" /></div>
			<div  class="titlemain"><img src="static/title.png" width="387" height="45" /> 	</div>
			
			<form action="/s" method="get" class="form-wrapper-01">
				<input type="text" id="search" placeholder="Enter your keyword" name="q"><input type="submit" value="Search" id="submit" onclick="show_loader()">
			</form>
			<div class="providerlist">  13 NZB indeces are searched each time you hit the button :)	</div>
					
			{% if results -%}
			<table id="results" summary="Search Results">
				<thead>
					<tr><th scope="col" class=titlecell><a href="s?q={{ args['q'] }}&order=t">Title</a></th><th scope="col" class=sizecell><a href="s?q={{ args['q'] }}&order=s">Size</a></th> <th scope="col" class=datecell><a href="s?q={{ args['q'] }}&order=d">Days</a></th> <th scope="col" class=providercell><a href="s?q={{ args['q'] }}&order=p">Provider</a></th></tr>
				</thead>
				<tbody>
				{% for row in results -%}
					{% if row['ignore'] == 0  -%}
					<tr>
						<td class="titlecell"><a href= "{{ row['url'] }}">{{ row['title'] }}</a></td>
						<td class="sizecell">{{ row['filesize'] }}</td>
						<td class="datecell">{{ row['age'] }}</td>
						<td class="providercell"> <a href= "{{ row['providerurl'] }}">{{ row['providertitle'] }}</a></td>
					</tr>
					{%- endif %}
				{%- endfor %}
				</tbody>
			</table>
			{%- endif %}


			{% if exist -%}
			<table id="results" summary="Detected duplicates">
				<thead>
					<tr><th scope="col" class=titlecell>Detected duplicates and weak matches</th><th scope="col" class=sizecell>Size</th> <th scope="col" class=datecell>Days</th> <th scope="col" class=providercell>Provider</th></tr>
				</thead>
				<tbody>
				{% for row in results -%}
					{% if row['ignore']  -%}
					<tr>
						<td class="titlecell"><a href= "{{ row['url'] }}">{{ row['title'] }}</a></td>
						<td class="sizecell">{{ row['filesize'] }}</td>
						<td class="datecell">{{ row['age'] }}</td>
						<td class="providercell"> <a href= "{{ row['providerurl'] }}">{{ row['providertitle'] }}</a></td>
					</tr>
					{%- endif %}
				{%- endfor %}
				</tbody>
			</table>
			{%- endif %}
						
		</div>
		<div class="topright_tight"><a href='https://nzbx.co/dmca'>[DMCA]</a> <a href= "connect">[Sickbeard]</a></div>
	
		<div class="bottomcenter">ver. {{ vr['curver'] }} -- 0byte <br/></div>

		<!-- Start of StatCounter Code for Default Guide -->
		<script type="text/javascript">
		var sc_project=8707188; 
		var sc_invisible=1; 
		var sc_security="f3bafd7f"; 
		var scJsHost = (("https:" == document.location.protocol) ?
		"https://secure." : "http://www.");
		document.write("<sc"+"ript type='text/javascript' src='" +
		scJsHost+
		"statcounter.com/counter/counter.js'></"+"script>");
		</script>
		<noscript><div class="statcounter"><a title="web analytics"
		href="http://statcounter.com/" target="_blank"><img
		class="statcounter"
		src="http://c.statcounter.com/8707188/0/f3bafd7f/1/"
		alt="web analytics"></a></div></noscript>
		<!-- End of StatCounter Code for Default Guide -->

	</body>
</html>
